<div class="content-heading">Comment Manager</div>
<!-- START row-->
<div class="col-md-12">
    <!-- START box placeholder-->
    <div class="box-placeholder">
        <!-- START button group-->
        <div class="btn-group" dropdown>
            <button class="btn btn-default" dropdownToggle>Comment Manager Action <b class="caret"></b>
            </button>
            <ul *dropdownMenu class="dropdown-menu animated fadeIn" role="menu">
                <li><a href="#">Action</a>
                </li>
                <li><a href="#">Another action</a>
                </li>
                <li><a href="#">Something else here</a>
                </li>
                <li><a href="#">Separated link</a>
                </li>
            </ul>
        </div>
        <!-- END button group-->
    </div>
    <!-- END box placeholder-->
</div>
<!-- END panel tab-->
<div>
    <!-- START list group-->
    <div class="list-group col-md-6">
        <a class="list-group-item bt0" href="#">
            <span class="label label-purple pull-right">just now</span>
            <em class="fa fa-fw fa-calendar mr"></em>Calendar updated</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">4 minutes ago</span>
            <em class="fa fa-fw fa-comment mr"></em>Commented on a post</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">23 minutes ago</span>
            <em class="fa fa-fw fa-truck mr"></em>Order 392 shipped</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">46 minutes ago</span>
            <em class="fa fa-fw fa-money mr"></em>Invoice 653 has been paid</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">1 hour ago</span>
            <em class="fa fa-fw fa-user mr"></em>A new user has been added</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">2 hours ago</span>
            <em class="fa fa-fw fa-check mr"></em>Completed task: "pick up dry cleaning"</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">yesterday</span>
            <em class="fa fa-fw fa-globe mr"></em>Saved the world</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">two days ago</span>
            <em class="fa fa-fw fa-check mr"></em>Completed task: "fix error on sales page"</a>
        <a class="list-group-item" href="#">
            <span class="label label-purple pull-right">two days ago</span>
            <em class="fa fa-fw fa-check mr"></em>Completed task: "fix error on sales page"</a>
    </div>
    <div class="list-group col-md-3">
        <p>Notes</p>
        <textarea class="col-md-3 form-control" cols="3"></textarea>
    </div>
    <div class="list-group col-md-3">
        <p>Notes</p>
        <textarea class="col-md-3 form-control" cols="3"></textarea>
    </div>
</div>
