<div class="content-heading">Reply Manager</div>
<div class="container box-placeholder">
    <div class="col-sm-6 ">
        <label class="mt">IF USER SAYS SOMETHING SIMILAR TO:</label>
        <tag-input theme='dark' name="tagName1" [ngModel]="['Typescript', 'Angular 2']"></tag-input>
    </div>
    <div class="col-sm-6 container">
        <label class=" col-sm-9 container">BOT REPLIES WITH TEXT:</label>
        <div class="col-sm-3 container">
            <div class="form-group">
                <div class="col-sm-6">
                    <label class="switch">
                        <input type="checkbox" unchecked />
                        <span></span>
                    </label>
                </div>
                <label class="col-sm-6 control-label">Random</label>
            </div>
        </div>
        <input class="form-control" type="text" />
    </div>
</div>
