<div class="container">
    <div class="col-md-6 col-md-offset-3 box-placeholder">
        <div class="panel-heading bg-gray-lighter text-bold">Account Information</div>
        <div class="panel-body">
            <form action="">
                <div class="form-group">
                    <label>Picture</label>
                    <label for="image-input" class="file-upload">
                        <button class="btn btn-default"><em class="fa fa-upload mr"></em> Upload new picture</button>
                        <input id="image-input" type="file">
                    </label>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Bio</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>URL</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Company</label>
                    <input class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input class="form-control" type="text" />
                </div>
                <button class="btn btn-info" type="button">Update settings</button>
                <p>
                    <small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae</small>
                </p>
            </form>
        </div>
    </div>
</div>
